<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arkquiz.arkquiz">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/arkquiz_logo_5"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3081286779348377~8715745269"/>

        <activity android:name="com.arkquiz.arkquiz.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.arkquiz.arkquiz.Shop"
            android:screenOrientation="portrait"/>
        <activity android:name="com.arkquiz.arkquiz.QuizpageTest"
            android:screenOrientation="portrait"/>
        <activity android:name="com.arkquiz.arkquiz.QuizpageHard"
            android:screenOrientation="portrait"/>
        <activity android:name="com.arkquiz.arkquiz.QuizpageNormal"
            android:screenOrientation="portrait"/>
        <activity android:name="com.arkquiz.arkquiz.QuizpageEasy"
            android:screenOrientation="portrait"/>
        <activity android:name="com.arkquiz.arkquiz.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>